[2022-09-28 08:31] Elozzy opened #1 "test account issue"
test our account endpoints by building a simple rest API. [docs](https://chimoney.readme.io/reference/introduction)
This is just a test issue

[2022-09-30 08:33] Elozzy opened #2 "Implement a simple project that uses the ChiConnect payout function"
## Kindly implement one of the following functions:

- Payout [Bank](https://chimoney.readme.io/reference/post_v0-2-payouts-bank)
- Payout [Gift Cards](https://chimoney.readme.io/reference/post_v0-2-payouts-gift-card)
- Payout [Mobile Money](https://chimoney.readme.io/reference/post_v0-2-payouts-mobile-money)
- Payout [Airtime](https://chimoney.readme.io/reference/post_v0-2-payouts-airtime)

[2022-09-30 08:38] Elozzy opened #3 "Implement a simple redeem flow project with ChiConnect API"
## Implement one of the following redeem flow

- Redeem [airtime](https://chimoney.readme.io/reference/post_v0-2-redeem-airtime)
-  Redeem [Chimoney](https://chimoney.readme.io/reference/post_v0-2-redeem-chimoney)
-  Redeem [gift card](https://chimoney.readme.io/reference/post_v0-2-redeem-gift-card)
-  Redeem [Mobile Money](https://chimoney.readme.io/reference/post_v0-2-redeem-mobile-money)

[2022-09-30 08:48] #1 closed

[2022-10-01 21:01] Benrobo commented on #2
Hi 👋. Just to make sure I understand this clearly, are we to build a project ( web or mobile app) to be precise leveraging the above functions or build a library of any technology ( Nodejs, Laravel, Golang ) leveraging the above functions.?

[2022-10-01 21:05] Elozzy commented on #2
@Benrobo You can either build a project or a library. They are both welcome, and you can use any language of your choice 🚀🚀.

[2022-10-01 21:06] Benrobo commented on #2
Ok thanks.

[2022-10-01 21:09] thelimeskies commented on #2
Hi, so SDK/libraries for various languages can be built

[2022-10-01 21:14] Elozzy commented on #2
Yes it can be built

[2022-10-01 21:18] Benrobo commented on #2
How can I get access to the API key from my chimoney profile.? There isn't any section for accessing API key for the X-API-KEY params.

[2022-10-01 21:20] thelimeskies commented on #2
Guess you might have to create an account

[2022-10-01 21:20] Benrobo commented on #2
I have. I think I have to reach the support team for that.

[2022-10-02 09:09] Regedit-msc opened #6 "Create a simple web/mobile application to showcase the ChiSpend experience widget on a tablet device."
## What should your pr contain?
- A screenshot of the ChiSpend experience in a tablet frame.
- A sample video showing the tablet  device view (Not compulsory).
[Reference](https://github.com/Chimoney/chispend-integration-examples/blob/main/web/README.md)

[2022-10-02 09:15] Regedit-msc opened #7 "Create a mobile (Flutter) Application that leverages the `Pay With Wallet` functionality on the ChiSpend widget to make an airtime payout."
What should your pr include?

- A video show casing the flow till payout.
-  Screenshots/apk
## TIPS AND REFERENCES:
- The javaScript channel  for the [webview](https://pub.dev/packages/webview_flutter) is `ChiSpendChannel`.
- [Get api key](https://github.com/Chimoney/chimoney-api-community-projects#get-started)
- [More info](https://github.com/Chimoney/chispend-integration-examples/blob/main/web/

[2022-10-02 09:21] Regedit-msc opened #8 "Create a web Application that leverages the Pay With Wallet functionality on the ChiSpend widget to make an airtime payout."
## What should be in your pr?

- A video showcasing the project.

## TIPS AND REFERENCES
- [Get api key](https://github.com/Chimoney/chimoney-api-community-projects#get-started)
- [More info](https://github.com/Chimoney/chispend-integration-examples/tree/main/web)

[2022-10-02 09:25] Regedit-msc opened #9 "Propose a new copy for the chispend.com website."
What your pr is expected to include?

- A readme file stating what section, the old copy and the newly proposed copy.

[2022-10-02 09:30] Regedit-msc opened #10 "Create a captivating video/presentation to showcase all/some of chispend wallet(crypto/non-crypto) integrations."
## What your pr should include?
- Video or slide presentation

## TIPS:
 All left to you and your creativity !!!😁

[2022-10-02 10:12] Zaynabnadada commented on #10
Hi, I'll love to work on this please assign it to me, thanks

[2022-10-02 10:19] Regedit-msc commented on #10
Sure you can! [Fork](https://github.com/Chimoney/chimoney-api-community-projects/fork) the repo and create a readme to include your submission then open a pr😁.

[2022-10-02 10:19] Regedit-msc commented on #10
Sure you can! [Fork](https://github.com/Chimoney/chimoney-api-community-projects/fork) the repo and create a readme to include your submission then open a pr😁.

[2022-10-02 15:46] uchibeke opened #11 "Create a JS SDK for the Chimoney API"
Create a JS SDK for ChiConnect, the new Chimoney API

- Should be installable from a package manager like NPM
- Should have some tests
- Should implement the endpoints outlined at [chimoney.readme.io/reference/introduction](chimoney.readme.io/reference/introduction)

### Resources
- About ChiConnect [chimoney.io/chiconnect](chimoney.io/chiconnect)
- Reference [chimoney.readme.io/reference/introduc

[2022-10-02 15:59] uchibeke opened #12 "Github Bot to initiate a Chimoney Payment"
Build a bot that rewards Github users with Chimoney

- Bot can be mentioned in a PR or issue and instructed to send _$N_ to a _@user_ using Chimoney
- Bot[ initiates a Chimoney payout](https://chimoney.readme.io/reference/post_v0-2-payouts-initiate-chimoney) and comments by mentioning the user and includes a claim link for the user to claim the amount
- When the user clicks the claim link, they ar

[2022-10-02 16:13] uchibeke opened #13 "Initiate a Chimoney Payout from a Twitter Comment"
If someone says something I like on twitter, I should be able to send them Chimoney for the comment

Build a bot that rewards Twitter users with Chimoney

- Bot can be mentioned in a tweet or issue and instructed to send _$N_ to a _@user_ using Chimoney. See [Account Activity](https://developer.twitter.com/en/docs/twitter-api/enterprise/account-activity-api/guides/getting-started-with-webhooks)
-

[2022-10-02 20:21] thelimeskies commented on #13
I'll love to work on this if using python is fine. Could it be assigned to me? Thanks

[2022-10-02 22:21] uchibeke commented on #13
Yes. Sure you can use Python and it can be assigned to you

[2022-10-02 23:38] uchibeke opened #14 "Create a Flutter (Dart) Package for the Chimoney's API"
Create a Flutter (Dart) Package for ChiConnect, the new Chimoney API

- Should be installable from a package manager like [Pub](https://pub.dev/)
- Should have some tests
- Should implement the endpoints outlined at [chimoney.readme.io/reference/introduction](chimoney.readme.io/reference/introduction)

### Resources
- About ChiConnect [chimoney.io/chiconnect](chimoney.io/chiconnect)
- Reference [c

[2022-10-02 23:48] uchibeke opened #15 "Mobile: P2P App for Sending Gift Card, Airtime, Mobile Money, Crypto etc from Wallet <> Wallet"
- Wallets are represented by [Chimoney sub-accounts](https://chimoney.readme.io/reference/post_v0-2-sub-account-create)
- Once authenticated in your app, a user in your app is a sub-account on Chimoney which also owns it's own Wallet. Accounting is handled by Chimoney so you might not need additional DB
- A user can send transfers to other users in form of Bank transfers, Airtime Transfer, Mobile

[2022-10-02 23:50] uchibeke opened #16 "Web: P2P App for Sending Gift Card, Airtime, Mobile Money, Crypto etc"
Create a web app with any framework using Chimoney's API

Below are some features but feel free to get creative

- Wallets are represented by [Chimoney sub-accounts](https://chimoney.readme.io/reference/post_v0-2-sub-account-create)
- Once authenticated in your app, a user in your app is a sub-account on Chimoney which also owns its own Wallet. Accounting is handled by Chimoney so you might not ne

[2022-10-02 23:56] uchibeke opened #17 "Write a Dev-focused article about How to build with ChiConnect, Chimoney's API"
This is a good first issue that anyone can pick up

Feel free to come up with any blog idea like How to Build Mobile Apps, Sending Payments with Chimoney etc

Please share your idea in the comment below if you'd like our thoughts before going ahead to write it

### Resources
- About ChiConnect [chimoney.io/chiconnect](chimoney.io/chiconnect)
- Reference [chimoney.readme.io/reference/introduction](

[2022-10-03 00:01] uchibeke opened #18 "Contribute new Non-profit payment information to the Non-profit Donation projects"
The [Non-profit donation ](https://github.com/Chimoney/non-profit-donations)project was created to simplify access to payment information for non-profits globally

The project contains a list of the methods, like crypo, airtime, mobile money etc, to send payments to vetted non-profits

### Task
- Add new verified Non-profits to the [List](https://github.com/Chimoney/non-profit-donations/blob/main/

[2022-10-03 13:15] Hauwarh commented on #17
Hi,
I will love to work on this issue, please assign this to me.
Thanks

[2022-10-03 13:17] uchibeke commented on #17
Please create a new issue for the specific article you want to write

Or share your article details here and I will create the issue and assign to you

[2022-10-03 14:04] uchibeke opened #19 "Create a Python Package for the Chimoney's API"
Create a Python Package for ChiConnect, the new Chimoney API

- Should be installable from a package manager like PIP
- Should have some tests
- Should implement the endpoints outlined at [chimoney.readme.io/reference/introduction](chimoney.readme.io/reference/introduction)

### Resources
- About ChiConnect [chimoney.io/chiconnect](chimoney.io/chiconnect)
- Reference [chimoney.readme.io/reference/

[2022-10-03 14:54] thelimeskies commented on #19
Hi,

I Handled this and I've made a PR Containing the project and Documention(Remains Deployment to pip and any minor issue which I haven't discovered yet.)

[2022-10-03 19:33] thelimeskies commented on #13
I'm done with a test version:
to test  Tweet: @chisendtest send amount:int" to @twitteruser
for multiple users, @chisendtest send amount:int to @twitteruser1 @twitteruser2
Wanted to get some reviews on it still in its base form

[2022-10-03 19:40] uchibeke commented on #13
Single send [{@twitteruser, amount:int}]
Multiple send [{@twitteruser, amount:int}, {@twitteruser2, amount:int}]

It should always take a list regardless of whether it's sent to one user or multiple. Hope this answers the question.

[2022-10-03 19:42] uchibeke commented on #13
All of the following should be valid commands

@chisendtes send 10 to @user1, @user2
@chisendtes send 10 to @user1 @user2
@chisendtes send 10 to @user1
@chisendtes send $10 to @user1
@chisendtes send $10 to @user1  @user2
@chisendtes send $10 to @user1, @user2, @user3
@chisendtes send $10 to @user1, @user2 @user3

[2022-10-03 19:48] thelimeskies commented on #13
@uchibeke Thanks will update the planning to add other function like send airtime and any I can think of

It's also currently live for about an hour for test so I could use the review to improve the flow

[2022-10-03 20:01] uchibeke commented on #13
So technically, this should support all payout options if you use the initiate endpoint. By default, after payment, the recipient should be able to redeem airtime, momo, gift cards etc. Were you looking to explicitly support gifting of airtime like `@chisendtest send $10 airtime @user`

Do you want to use @send_chimoney or @gift_chimoney as the username instead?

[2022-10-03 20:04] uchibeke commented on #13
So I tested but I did not get the DM with the link to pay for the transaction. Although I did get a reply from the bot. Is there something that I am missing

See https://twitter.com/chisendtest/status/1577026341567856640

[2022-10-03 20:06] thelimeskies commented on #13
The account was temporarily disabled by twitter before it could commit the request
I've reactivated the account so it should work in the next 5 min

[2022-10-03 20:07] thelimeskies commented on #13
Any works just created a temporary account for testing

[2022-10-03 20:09] thelimeskies commented on #13
It's back up.

You can run the command again.

Thanks

[2022-10-03 20:18] thelimeskies commented on #13
<img width="597" alt="Screenshot 2022-10-03 at 9 16 15 PM" src="https://user-images.githubusercontent.com/45210985/193672068-83f16eef-3631-465a-9b40-5e1e52f8c346.png">

[2022-10-03 20:20] uchibeke commented on #13
Yes. It works.

I was able to test with the bot, make a payment from my wallet and I got the DM from Chimoney with the redeem link! And I was able to redeem it!

Great job!

[2022-10-03 20:26] thelimeskies commented on #13
@uchibeke Thanks, would clean up the code and open a PR with the complete project.

[2022-10-03 22:31] ezechuka commented on #2
Hello @uchibeke I'm working on the Payout bank issue & below image is my level of progress. I'm kindly requesting an API key to be able to proceed, thanks.

![Screenshot_2022-10-03_23-28-22](https://user-images.githubusercontent.com/35205214/193697192-65d03d41-3b72-4835-911b-b25fcc08510e.png)

[2022-10-04 01:12] uchibeke commented on #2
@ezechuka issued via email

[2022-10-04 06:05] NnajiChimuanya commented on #8
Assign me this..

[2022-10-04 06:08] Regedit-msc commented on #8
We currently aren't assigning issues. You can create a fork and open a pr with your implementation.

[2022-10-04 07:03] Regedit-msc commented on #8
👍🏾

[2022-10-04 11:45] Zubair-12 commented on #9
Hi, @Regedit-msc can you explain more?

[2022-10-04 13:05] #14 closed

[2022-10-04 13:10] Regedit-msc opened #21 "Create a flutter wrapper/widget package for ChiSpend marketplace."
- As a developer, I can install ChiSpend  from pub.dev( I don't need to implement the web view).
- The package/Widget should provide easy options to customise the market place using [customisation](https://github.com/Chimoney/chispend-integration-examples/tree/main/web#customizing-chispend) properties supported by ChiSpend.
-  [Pay With Wallet](https://github.com/Chimoney/chispend-integration-exam

[2022-10-04 13:16] dynamic-Somto commented on #21
Hi,  please I'll like to take it up. Please assign it to me

[2022-10-04 13:17] Zubair-12 commented on #9
Sure dear, @Regedit-msc I want to work on this. Can you assign me?

[2022-10-04 16:28] elegant1T opened #22 "Write detailed content for new contributors explaining how to contribute to Chimoney community project issues."
This is a good first issue.
- Issues under the Chimoney community project are open to all levels of contributors. Write a step-by-step article to explain the A-Z steps to contribute to this project.
Content can be in any format _(articles, demo videos, Tiktok videos, or anyone you can think of)_.
- All issues under this project are focused on [Chi Connect](https://chimoney.io/chiconnect) and [Chi

[2022-10-04 20:29] Josh4324 commented on #18
I will love to work on this issue, please assign it to me

[2022-10-04 20:57] uchibeke opened #24 "MapBox/Google Maps x Chimoney: Show Chimoney supported products/countries in a map"
Build a one-page website with any web framework or plain JS that shows Chimoney's products on a map

- Use the [/assets-info endpoint ](https://chimoney.readme.io/reference/get_v0-2-info-assets)to pull the products
- Render products in map using the country info that is included in the object

Stretch goal:
- Make this a general map of supported Payout methods for countries so that Developers, Rem

[2022-10-04 21:01] uchibeke opened #25 "Create a Gift Card/Reward UI that takes a Chimoney issueID and renders a list of cards"
Chimoney's API lets you get a list of transactions using the issueID and each transaction contains details like amount, receiver, message, etc

- Get the transactions using the issueID
- Render the details in a pretty card like a Gift, Reward, or Prize UI
- Ideally, this should be extendable to support other gift platforms

app.com/giftID=[ID]&platform=chimoney should return Chimoney Transactions

[2022-10-05 07:00] ErebusXAbyss commented on #22
I would like to work on this issue

[2022-10-05 08:52] motasimmakki commented on #24
I would like to work on this issue, but I also need your help to get started, could you help me out with it?

[2022-10-05 09:04] Elozzy commented on #22
@ErebusXAbyss  it has already been worked on.  More article issues would be added soon.

[2022-10-05 09:04] #22 closed

[2022-10-05 09:19] Elozzy opened #27 "Create a Go Lang SDK for ChiConnect, the new Chimoney API"
Create a Go Lang SDK for ChiConnect, the new Chimoney API

- Should be installable from a package manager like [go package](https://pkg.go.dev/)
- Should have some tests
- Should implement the endpoints outlined at [chimoney.readme.io/reference/introduction](https://github.com/Chimoney/chimoney-community-projects/issues/chimoney.readme.io/reference/introduction)

### Resources
- About ChiConnect [

[2022-10-05 09:30] Khadeeejah commented on #9
hello @Regedit-msc has this been done already ? if not can i make a pr, i just did it , and secondly we cant have another README.md file
 can i just rename it to something like "proposition.md"

[2022-10-05 09:34] Khadeeejah commented on #17
hi @uchibeke  can more than one person work on this ?

[2022-10-05 09:36] Regedit-msc commented on #9
Submissions should be included in the [`submissions`](https://github.com/Chimoney/chimoney-community-projects/tree/main/submissions) folder. You can create a new folder in there and give it any name you see fit then include a  `markdown` file in it. Hope this provides more context?

[2022-10-05 11:14] uchibeke commented on #17
@Khadeeejah many people can work on this. They can create a new issue with details of the content they want to contribute

[2022-10-05 12:29] tobiadiks commented on #24
This look interesting and I'll work on this.
I just help in understanding the issue better.

[2022-10-05 12:33] uchibeke commented on #24
Sure.

so the assets info endpoint returns an array of payout methods (MTN mobile money, Bitcoin, Ghana bank, Amazon US gift card, etc). Each payout method contains an array of countries that method works in or empty, if it works globally

Use this info to display the items on a map such that a payout method is placed in the countries in the that it is supported in

[2022-10-05 12:37] uchibeke commented on #24
And the stretch goal is to extend this to work with more than just one payout provider, like Chimoney. To make this work, you might need to pull the data from chimoney and enrich it with a provider field=chimoney and then rendering as before but with option to filter by provider

To add a new provider, look at a different service like Tremendous or another platform for getting payed and get their

[2022-10-05 12:56] tobiadiks commented on #24
Ok that's sounds clearer. Can I be assigned to this issue?

[2022-10-05 12:57] tobiadiks commented on #24
I'll be using Mapox

[2022-10-05 13:06] uchibeke commented on #24
Will do

@tobiadiks let me know if you still want to do it and maybe you could
- use any other  framework
- google maps
- use a different approach

All submissions will be valid

[2022-10-05 13:15] tobiadiks commented on #24
Thanks @uchibeke
Will be using

Next JS and Mapox

[2022-10-05 13:17] uchibeke commented on #24
Sounds great!

[2022-10-05 13:46] tobiadiks commented on #24
Yes, I saw that difference earlier on from the documentation. I'll.

[2022-10-05 13:51] Adelakin-Adewumi commented on #17
@uchibeke I'd love to also contribute to this article, is that okay?

[2022-10-05 13:53] uchibeke commented on #17
Sure. Please create a new issue with details of the content you want to contribute @Adelakin-Adewumi

[2022-10-05 18:26] thelimeskies commented on #27
I could dabble with this, not as good in Golang but could still do a decent job. if that works

[2022-10-05 18:27] Elozzy commented on #27
Yeah that works.

[2022-10-05 18:36] thelimeskies commented on #27
i guess it could be assigned to me then

[2022-10-05 18:36] thelimeskies commented on #27
i think it could be assigned to me then

[2022-10-05 20:55] mzoyinda commented on #3
Hi, I would like to work on this project. Assign me to this.

[2022-10-05 21:23] Elozzy commented on #3
okay

[2022-10-05 22:09] Conradgabe commented on #17
Hi, @uchibeke I'd love to work on this task

[2022-10-05 22:18] uchibeke commented on #17
Hi please[ create a new issue](https://github.com/Chimoney/chimoney-community-projects/issues/new) with the details of the article you want to write @Conradgabe and assign it to yourself

[2022-10-05 22:19] uchibeke commented on #17
Hi @Hauwarh, @Khadeeejah @Adelakin-Adewumi could you[ create a new issue](https://github.com/Chimoney/chimoney-community-projects/issues/new) with the details of the article you want to write and ask any questions by commenting there

[2022-10-05 22:30] #19 closed

[2022-10-06 10:03] Ayushbajpai19 commented on #25
Hii i am a UI designer and would like to take up this issue

[2022-10-06 10:33] Regedit-msc opened #29 "Create an example application showcasing how to integrate ChiSpend market place and the Pay With Wallet functionality in native android."
Reference this issue  #7
You can use Kotlin or Java.

[2022-10-06 10:34] Conradgabe commented on #17
Good day, @uchibeke, the issue says "How to build", do you mean the process of building an application with the API functionalities?

[2022-10-06 10:48] Regedit-msc opened #30 "Create an example application showcasing how to integrate ChiSpend market place and the Pay With Wallet functionality in native ios (Swift/Objective-C)."
Rederence this issue #7

[2022-10-06 10:55] Conradgabe opened #31 "Dev-focused article about How to build with ChiConnect, Chimoney's API"

[2022-10-06 11:38] uchibeke commented on #17
Yes @Conradgabe. Could you crate the issue and mention me? I’ll assign to you?

[2022-10-06 12:41] uchibeke commented on #25
HI, @Ayushbajpai19 yes please go ahead!

[2022-10-06 14:48] Conradgabe commented on #31
@uchibeke , Should the documentation be In a readme file?

[2022-10-06 14:49] Hauwarh opened #32 "Dev Focused article on how to send and receive payment using Chimoney"
- [x] Sending payment using Chimoney
- [x] Receiving payment using Chimoney

[2022-10-06 15:46] Adelakin-Adewumi opened #33 "Dev-focus article on how to maintain payment on chimoney, chiConnect API"

[2022-10-06 17:49] thelimeskies commented on #13
Made a PR for this, but need to publish the pychimoney(if this is an agreed name) package for it to work on any system easily

[2022-10-06 17:51] uchibeke commented on #13
Let's use chimoney.py or chimoney_py

Looking forward to reviewing both PRs

[2022-10-06 17:52] uchibeke commented on #13
Also, for the twitter bot, let's use chimoney_bot as the username or chimoney_send

[2022-10-06 18:01] thelimeskies commented on #13
One of the PRs has been merged since it was a dependency on the Twitter bot

is "pip install chimoney.py" ok then so I run the deployment to pip asap

[2022-10-06 18:04] uchibeke commented on #13
Yes. This is perfect @thelimeskies

[2022-10-06 18:08] uchibeke commented on #13
I LOVE the random giveaway feature! Great idea!

Maybe extend it to support likes, comments, retweets
@send_chimoney giveaway 10 tweetliked 30 12:00pm
@send_chimoney giveaway 10 commented 30 12:00pm
@send_chimoney giveaway 10 retweeted 30 12:00pm

Also, why don't you consider using Render.com? It seems simpler than AWS, in my experience and they have a free tier too.

I have used them all, AWS, He

[2022-10-06 18:16] thelimeskies commented on #13
Well check it out, Thanks @uchibeke

[2022-10-07 03:06] VoidCupboard commented on #11
Hi! Can I work on this issue?

[2022-10-07 03:10] uchibeke commented on #11
Yes @VoidCupboard. I’ll assign you

[2022-10-07 03:10] VoidCupboard commented on #11
Thanks!

[2022-10-07 05:42] adi-uchiha commented on #32
I would like to write this

[2022-10-07 08:04] Conradgabe commented on #31
Hi, @uchibeke Should i be submitting  a link to the article in the submissions folder?

[2022-10-07 11:06] uchibeke commented on #31
You can add the link to a markdown file in the submission folder but first send it here so I can review and provide feedback @Conradgabe

[2022-10-07 14:26] mzoyinda commented on #2
Hi, i would like to work on the payout airtime project

[2022-10-07 14:27] uchibeke commented on #2
@mzoyinda please  create a new issue for Airtime and mention me to assign to you

[2022-10-07 14:27] Elozzy commented on #2
@mzoyinda sure you can .

[2022-10-07 14:28] mzoyinda commented on #2
Yaayyhhh.. thanks

[2022-10-07 14:29] Elozzy commented on #2
Pls create an issue for it as @uchibeke instructed.

[2022-10-07 14:30] mzoyinda commented on #2
on it.. @Elozzy

[2022-10-07 14:33] mzoyinda opened #36 "implement a simple project that uses ChiConnect for the Airtime payout function"

[2022-10-07 14:33] mzoyinda commented on #36
@uchibeke please assign me to this.

[2022-10-07 15:12] ezechuka commented on #2
@uchibeke I've implemented bank payout with Chiconnect. I would like to implement the payout with mobile money also

[2022-10-07 17:12] uchibeke commented on #25
@nik132-eng yes please go ahead and implement it. I’ll also assign to you

let me know if you have any questions

[2022-10-07 20:49] thelimeskies commented on #13
the python package has been published
https://pypi.org/project/chimoney-py/

"pip install chimoney-py" work now

I was trying to use render.com to deploy the bot but have been unable to add payment(not accepting any of my debit cards) since that is required for a background worker

@uchibike

[2022-10-07 22:12] Conradgabe commented on #31
Okay. I'll do that

[2022-10-08 00:02] uchibeke commented on #13
Nice. Please open a pr and we will review @thelimeskies

[2022-10-08 04:14] CyberGeni commented on #9
@Regedit-msc I also want to be assigned to this. can multiple people work on this? also one question, do i add all the proposed section changes in one PR or different PRs for different section changes?

[2022-10-08 19:10] CyberGeni opened #38 "proposed changes for chispend website"
# **landing page**
current look on 13inch laptop full screen
![image](https://user-images.githubusercontent.com/70205370/194720372-1c9193ca-fc0b-4567-aad7-4c80734a0856.png)

## new proposed look
![image](https://user-images.githubusercontent.com/70205370/194720520-e9e9d4f9-4ef6-4621-831f-4df2f37c2e8d.png)

##reason for change

- I think whatever screen size the user is using, the hero content shou

[2022-10-08 21:03] ezechuka commented on #16
@uchibeke how does a user sign into a subaccount? Is there an endpoint for it?

[2022-10-08 21:08] uchibeke commented on #16
No. A user doesn't sign in

A subaccount is under the main account and you can initiate all Chimoney transactions as a subaccount by passing `subAccount`=sub_account_id to all Chimoney API calls.

For example, you can `payout/airtime` to send Airtime from the sub-account AKA the wallet of the sub-account is debited

You can [create and manage sub-accounts ](https://chimoney.readme.io/reference/pos

[2022-10-08 22:14] ezechuka commented on #16
Interesting...
So if I understand correctly, let's say I've a platform that creates a subaccount on auth for each user into my platform. By creating a subaccount, the users of my platform can indirectly interact with Chimoney's product with actually having an account on Chimoney right?

[2022-10-09 00:36] uchibeke commented on #16
That’s correct. Your app will interact with Chimoney on their behalf using their sub account id

[2022-10-09 01:52] thelimeskies commented on #13
Hi @uchibeke the Twitter account has been created [@send_chimoney](https://twitter.com/send_chimoney)
and has been updated the new PR contains an Access and Access Secret keygen so one developer account can be used with multiple Twitter bots(Creating) so multiple environments can be created(test, staging, prod).

Deployment isn't yet completed

[2022-10-09 13:54] knight-95 commented on #32
i would like to work upon this, I am familiar with web3 and have used Chingari wallet in past

[2022-10-09 16:18] thelimeskies commented on #13
@uchibeke Bot has been deployed on AWS temporarily

handle [@send_chimoney](https://twitter.com/send_chimoney)

Twitter page under construction for better UX

[2022-10-09 16:31] Mujhtech commented on #7
Assign this to me @Regedit-msc

[2022-10-09 16:57] uchibeke commented on #13
Could you reply with the correct format if a user sends an invalid format

Uchi
________________________________
From: Asikhalaye Samuel ***@***.***>
Sent: Sunday, October 9, 2022 12:18:59 PM
To: Chimoney/chimoney-community-projects ***@***.***>
Cc: Uchi Uchibeke ***@***.***>; Mention ***@***.***>
Subject: Re: [Chimoney/chimoney-community-projects] Initiate a Chimoney Payout from a Twitter Comment

[2022-10-09 17:46] thelimeskies commented on #13
Noted. Will add that

Was planning a test so I resolve every issue that arises

Thanks.

[2022-10-09 17:48] MUCCHU commented on #38
I would like to work on this issue. Kindly assign it to me.

[2022-10-09 17:52] Elishaokon13 commented on #38
@uchibeke Good day, I would love to take this issue.

Please you can assign it to me while I commit my changes.
Thank you

[2022-10-09 22:43] #21 closed

[2022-10-10 09:11] horizenight commented on #6
Please assign me this !

Do we have to create an e-commerce website (responsive for tablet) with ChiSpend widget ?

[2022-10-10 14:17] adicoder95 commented on #29
I am willing to work on this issue as Hacktoberfest participant.

[2022-10-10 15:29] thelimeskies commented on #13
The bot has been updated(both live and the PR made).
- Updated the Argument regex so accepts more formats now
- Updated the replies

[2022-10-10 16:34] ezechuka commented on #2
@Elozzy can I work on payout airtime too?

[2022-10-10 16:36] Elozzy commented on #2
@ezechuka  someone else is already working on that. Would like to try out payout with gift card?

[2022-10-10 18:14] ezechuka commented on #2
Okay 👍🏿

[2022-10-10 18:23] ezechuka commented on #2
@Elozzy what is Product ID and how is it gotten?
![image](https://user-images.githubusercontent.com/35205214/194929879-78986543-0ef2-4aa9-93f8-68806c3f984e.png)

[2022-10-10 19:27] uchibeke commented on #2
ProductID is the gift card ID you get from the `info/assets` endpoint. It returns a BenefitsList which includes a list of Gift Cards. It accepts Countries to return country-specific Gift cards but defaults to US if no country is passed

/Redeem/any for Gift cards
[code]

@ezechuka

[2022-10-10 20:09] ezechuka commented on #2
@uchibeke do you mean the `info/assets` endpoint or `payouts/gift-card`?

[2022-10-10 21:19] mzoyinda commented on #2
@uchibeke @ezechuka the payout airtime API is faulty
and the documentation is wrong

[2022-10-10 21:46] AbhishekTiwari23 commented on #7
I love to work on this. Please assign.

[2022-10-10 21:47] AbhishekTiwari23 commented on #6
Love to contribute. Please assign.

[2022-10-10 21:50] uchibeke commented on #2
Are there items with type Giftcard?

[2022-10-10 21:51] uchibeke commented on #2
@Elozzy could we take a look and update the documentation?

[2022-10-10 21:52] Elozzy commented on #2
Sure already taking a look .

[2022-10-10 21:54] ezechuka commented on #2
Yes

[2022-10-10 21:56] uchibeke commented on #2
So the items with type Giftcard should have an id or productID which is what’s needed for both payout Giftcard and redeem gift card

[2022-10-11 14:14] adeola-dev commented on #9
Hi @Regedit-msc , can multiple people work on this? I'd like to make a pr

[2022-10-11 14:17] Regedit-msc commented on #9
Sorry for the late response. Yes multiple people can work on the pr!

[2022-10-11 14:28] adeola-dev commented on #9
Ok, thanks👍

[2022-10-12 16:23] Stephen-Odumirin commented on #2
@uchibeke I want to work on this with android-native-kotlin.
I need my organization account approved.

[2022-10-12 16:43] Stephen-Odumirin opened #42 "project that uses the ChiConnect payout function anroid-native-kotlin"
@uchibeke I want to work on this. Please assign this issue to me.

[2022-10-12 16:45] uchibeke commented on #31
@Conradgabe any update on this?

[2022-10-12 20:56] Conradgabe commented on #31
I have almost finished with the article.
https://github.com/Conradgabe/chimoney-community-projects/blob/dev_article/submissions/chiconnect_dev_article/README.md
The draft I used

[2022-10-13 01:52] mzoyinda commented on #36
https://github.com/Chimoney/chimoney-community-projects/issues/2#issuecomment-1273850720

@uchibeke  and @Elozzy what is the update on this API, it's the only thing delaying me from closing this issue.
As i am done working on the UI.

[2022-10-13 03:00] uchibeke commented on #2
Hi @Stephen-Odumirin  please go ahead in the other issue you created

[2022-10-13 03:01] uchibeke commented on #36
Thanks for bringing this up. It has now been resolved https://chimoney.readme.io/reference/post_v0-2-payouts-airtime

[2022-10-13 03:05] uchibeke opened #44 "Build a Chimoney App on Cal.com"
See this issue https://github.com/calcom/cal.com/issues/4782

See how to at https://github.com/calcom/cal.com/issues/4782#issuecomment-1271453053

What we need is the ability to [initiate Chimoney](https://chimoney.readme.io/reference/post_v0-2-payouts-initiate-chimoney) from cal.com to meeting participants and then someone logs in to Chimoney to pay for that transaction

There are other ways to d

[2022-10-13 03:13] uchibeke opened #45 "Build a Chimoney Slack Bot"
HR, Event organizers, community managers and anyone in a Slack org should be able to send Chimoney to other users within Slack

Build a bot that rewards Slack users with Chimoney

- Bot can be mentioned in a channel or issue and instructed to send _$N_ to a _@user_ using Chimoney.
- Bot [initiates a Chimoney payout](https://chimoney.readme.io/reference/post_v0-2-payouts-initiate-chimoney) to the e

[2022-10-13 05:35] ezechuka commented on #2
@uchibeke @Elozzy  I made a request to `payouts/gift-card` with the data below. Just wanted to know if the `countryCode` should be the recipient's own and the `valueInLocalCurrency` should be their currency value.
[code]

Also I'm trying to redeem it here and getting 400, I'm not sure what I'm doing wrongly.
![image](https://user-images.githubusercontent.com/35205214/195510177-169243d3-c07d-4488-8

[2022-10-13 05:40] tobiadiks opened #46 "SMS Redeem URL formatted incorrectly."
The redeeming link sent via SMS is not formated correctly,
Here's a sample SMS

[code]
This URL has "!" at the end which when clicked cause an infinite loading screen.
The formated URL should be

`https://dash.chimoney.io/redeem?chi=cbba813f-7435-44c4-9c75-4ef0a1a7dea4`

[2022-10-13 06:22] Stephen-Odumirin commented on #42
HI @uchibeke, I can't access the API key.

[2022-10-13 09:44] Niiola commented on #44
is the api written in flask? if yes i will love to be assigned the ask and also get more description about the problem

[2022-10-13 10:21] uchibeke commented on #42
Please follow the steps in the readme to get an api key @Stephen-Odumirin

[2022-10-13 10:25] Stephen-Odumirin commented on #42
I've created an organization and sent it to you. I don't think it has been approved.

[2022-10-13 12:31] adi-uchiha commented on #46
I would like to work on this

[2022-10-13 13:51] adi-uchiha commented on #38
Where is the source code of the website ?

[2022-10-13 14:20] CyberGeni commented on #10
@Regedit-msc or @uchibeke  can multiple people work on this also? if yes, is it possible to get a list of the integrations?

[2022-10-13 14:22] CyberGeni commented on #38
i don't know, i don't think it's on a public repo

[2022-10-13 14:36] adi-uchiha commented on #38
Mmm.. if it's not public. How can we contribute ?

[2022-10-13 14:39] Regedit-msc commented on #10
Yes. The integrations are listed on the ChiSpend website.

[2022-10-13 14:51] CyberGeni commented on #10
is it the xumm, metamask and chimoney... or the other card with valora, status, bsc evm, eth wallets and binance, coinbase
, luno and edge?

[2022-10-13 14:56] CyberGeni commented on #38
i just created an issue that i found, i'm a contributor too not a maintainer

[2022-10-13 16:10] fumblehool commented on #45
Hello @uchibeke I would love to work on this.
Please assign this to me if nobody is currently working on it 😄

[2022-10-13 16:15] thelimeskies commented on #45
Hi @uchibeke i would love to work on this if it's available

[2022-10-13 16:17] uchibeke commented on #45
Done @thelimeskies and @fumblehool, feel free to implement it with your own approaches, languages/frameworks and both will qualify

[2022-10-13 17:10] mzoyinda commented on #36
Alright, thanks

[2022-10-14 13:42] uchibeke commented on #46
Hi @adi-uchiha this is in a private repo

@Regedit-msc let's fix, please

@tobiadiks thanks for catching it. This will count towards you contribution when fixed

[2022-10-14 13:51] Regedit-msc commented on #46
👍🏾

[2022-10-14 13:56] uchibeke commented on #7
Hi @Mujhtech  and @AbhishekTiwari23 assigned to both of you

Feel free to implement your own versions of the same thing

[2022-10-14 13:57] uchibeke commented on #29
@adicoder95 assigned to you

[2022-10-14 13:58] uchibeke commented on #16
@ezechuka interested in this? I now realize the scope is really big so many you could break it into 2 issues?

Let me know and share how you intend to approach it

[2022-10-14 14:00] uchibeke commented on #31
I recommend using a code block instead of images for the code

Have it as draft on dev.to, hackernoon, hashnode or some other site instead of on Github. And once approved, you can publish it there

[2022-10-14 14:01] Regedit-msc commented on #46
Fixed!

[2022-10-14 14:01] #46 closed

[2022-10-14 14:04] Regedit-msc commented on #38
Fixed!

[2022-10-14 14:04] #38 closed

[2022-10-14 14:10] dynamic-Somto commented on #7
Hello @uchibeke @Regedit-msc I would love to take it up too

[2022-10-14 14:49] ezechuka commented on #16
I was thinking maybe 3 issues:

This would be the first issue. My approach would be creating the landing page, use firebase for auth and firestore to store authenticated users and their subaccount ID.

Then this would be the second one. This too is very broad as there will be lots of UI and API calls involved.

Third issue:

[2022-10-14 15:23] uchibeke commented on #16
Sure. Let's do it!

Please create a document the 3 issues and I will assign them to you @ezechuka

[2022-10-14 15:45] ezechuka commented on #16
Okay 💯

[2022-10-14 17:00] uchibeke commented on #11
So go ahead @Ayo-Awe . What we’d like to see at the end is a package on npm potential called chimoney.js with description, “node sdk for Chimoney’s api by the community. Maintained by @Ayo-Awe”

[2022-10-14 17:08] ezechuka opened #47 "Web P2P app: Landing page design with user auth"
- Create a landing page with login/signup authentication using firebase.
- Create a subaccount for each user on successful signup using Chimoney subaccount API.

[2022-10-14 17:11] ezechuka opened #48 "Web P2P app: Implement core functionalities"
Functionalities to be implemented will include:
- Bank transfer
- Airtime transfer
- Mobile money transfer
- Gift card transfer

using Chimoney payouts API

[2022-10-14 17:12] ezechuka opened #49 "Web P2P app: Account to Account transfer"
A user can send USD to other accounts using [Account transfer](https://chimoney.readme.io/reference/post_v0-2-accounts-transfer) endpoint

Receivers should be able to [see all transfers](https://chimoney.readme.io/reference/post_v0-2-accounts-transactions) sent to them and the Status of the transfer and redeem it either through an API call or through embedding the redeem page in an iframe

[2022-10-14 17:34] codelikesuraj commented on #16
Hello @uchibeke, I also want to work on this

[2022-10-14 17:36] uchibeke commented on #16
Could you break outline what you want to build including framework, language device you’re building for and other relevant details?

share an implementation plan please @codelikesuraj

[2022-10-14 18:03] codelikesuraj commented on #16
@uchibeke

I plan on building a web application using Laravel Framework for PHP

The application allows user's to sign-up primarily with email and any username of choice.
For new users, a new sub-account is generated for them which should allow them to send, receive or redeem allowed assets on chimoney to other users on the application.
Users can view transaction history, which includes payouts an

[2022-10-14 19:38] Conradgabe commented on #31
Okay, thanks

[2022-10-14 22:48] Ayo-Awe commented on #11
Alright, I'll get working on it right away

[2022-10-14 23:06] tobiadiks commented on #46
Thank you @uchibeke @Regedit-msc for the fix.

[2022-10-15 03:29] VoidCupboard commented on #11
Wait I'm already working on this and I am mostly done with it (only I need to add tests)

[2022-10-15 06:29] uchibeke commented on #11
@VoidCupboard yes. Let’s have multiple implementations. Both submissions will be valid and people can pick what they prefer to use

[2022-10-15 06:33] VoidCupboard commented on #11
Ohk, thanks for the confirmation @uchibeke ^-^

[2022-10-15 07:50] nabroleonx commented on #15
I would love to take a shot at this, can you assign this to me?

[2022-10-15 23:24] Macasore commented on #12
would love to work on this @uchibeke

[2022-10-15 23:58] uchibeke commented on #12
Yes. That works @Macasore

[2022-10-16 17:10] Khadeeejah commented on #18
hi @uchibeke  i made a pr for this issue few days ago since it has not been fixed for a while, kindly check

[2022-10-16 21:01] codelikesuraj commented on #16
@uchibeke

How do you fund subAccounts?
I'm able to create a sub-account for each of my users now, but I how do you fund their account/wallet

[2022-10-16 21:29] uchibeke commented on #16
The receiver of an Account transfer transaction can be a sub account https://chimoney.readme.io/reference/post_v0-2-sub-account-create

Hence, you can transfer from your own main account the to sub account by using the sub account Id as the receiver @codelikesuraj.

Additionally, You could also transfer from a sub account to another account (sub, main, different user account) by passing subAccount

[2022-10-17 07:21] codelikesuraj commented on #16
Thanks, this helped a lot

[2022-10-17 09:00] CyberGeni commented on #38
@Regedit-msc thanks

[2022-10-17 09:24] Regedit-msc commented on #10
Some wallets aren't supported yet.All in the coming soon section.

[2022-10-17 09:44] CyberGeni commented on #10
okay... so just to be clear, it's these ones right?  [+ Valora](https://chispend.com/?cSContext=valora)
[+ Status](https://chispend.com/?cSContext=evm)
[+ BSC EVM Wallets](https://chispend.com/?cSContext=evm)
[+ Ethereum Wallets](https://chispend.com/?cSContext=evm)
[+ Polygon Wallets](https://chispend.com/?cSContext=evm)

[2022-10-17 11:11] ajibadeabd opened #52 "Create a TS and nestjs SDK for the Chimoney API"
Create a TS SDK for ChiConnect, the new Chimoney API @uchibeke

[2022-10-17 11:14] ajibadeabd commented on #52
@uchibeke  will like to work on this

[2022-10-17 11:17] uchibeke commented on #52
Assigned @ajibadeabd

[2022-10-17 23:46] Habeeb-A commented on #33
I would like to give this a try.

[2022-10-18 00:27] uchibeke commented on #33
Done @Habeeb-A

[2022-10-18 14:55] thelimeskies commented on #13
@uchibeke I think I'm done with this issue. Finalized on testing today so I want to start working on the twitter account for public use by tomorrow

[2022-10-18 14:55] thelimeskies commented on #13
Thank you

[2022-10-18 15:24] uchibeke commented on #13
Fixed in #40 #4

[2022-10-19 07:00] exitflynn commented on #44
i'd love to work on this issue! please assign @uchibeke!

[2022-10-19 17:56] Kritika30032002 opened #54 "Adding Hover Effect to all the Buttons"
Adding Hover Effect to all the Buttons

Assign this to me!!

[2022-10-19 22:29] Fadahunsiseyi commented on #54
can you please assign this to me?

[2022-10-19 22:30] Fadahunsiseyi commented on #54
can you please assign this to me?

[2022-10-19 22:31] Fadahunsiseyi commented on #54
can you please assign this to me?

[2022-10-20 01:37] uchibeke commented on #54
Hi, which of our websites is this issue for?

[2022-10-20 09:07] Kritika30032002 commented on #54
https://chimoney.io/     this one

[2022-10-20 17:46] codelikesuraj commented on #16
Hello @uchibeke.

I understand that a sub_account automatically has 3 wallets - chi, airtime and momo.
I don't really know what momo is, I'm not sure we use that here.
For the airtime wallet, does it mean that the balance there can only be used for airtimes?

[2022-10-20 17:48] uchibeke commented on #16
Only the chi wallet is useful, for now. Ignore the other wallets

[2022-10-20 17:58] codelikesuraj commented on #16
Okay

[2022-10-20 18:57] swarajmhatre commented on #54
CAN YOU PLEASE ASSIGN THIS ISSUE TO ME

[2022-10-20 22:32] uchibeke commented on #54
The website is not in a public repo

[2022-10-20 22:32] #54 closed

[2022-10-21 16:05] Abubakrce19 opened #59 "Hacktoberfest pic in readme.md is not linked."

[2022-10-21 19:08] Ayo-Awe commented on #45
@uchibeke can I create a similar bot but for discord

[2022-10-21 19:12] uchibeke commented on #45
Yes please. Please duplicate this issue for the discord bot and ping me on the new issue to assign it to you

let’s go! 🚀🚀🚀

[2022-10-21 20:00] Ayo-Awe opened #61 "Build Chimoney Discord Bot"
HR, Event organizers, community managers and anyone in a Discord server should be able to send Chimoney to other users within Discord

Build a bot that rewards Discord users with Chimoney

Bot can be mentioned in a server or issue and instructed to send $N to a @user using Chimoney.
Bot [initiates a Chimoney payout](https://chimoney.readme.io/reference/post_v0-2-payouts-initiate-chimoney) to the e

[2022-10-21 20:01] Ayo-Awe commented on #61
@uchibeke I'd like to work on this

[2022-10-22 04:31] #59 closed

[2022-10-22 07:15] tobiadiks opened #64 "Add drop-down for gift card and mobile money for map."
Add a drop-down for gift cards showing the supported cards for specific countries.

Add a drop-down for mobile money.

Fix the category order with Product and Gift cards coming last in this order.

[2022-10-22 09:07] mzoyinda commented on #25
hi @uchibeke can i still contribute to this?

[2022-10-22 09:10] Ayo-Awe commented on #61
@uchibeke So, I'm having challenges getting the email of a discord user, I have one of the two options now
- Send a DM to the user with an Oauth2 link to give me access to their email
- Send a DM to the user to supply their email directly

For the Oauth2 method, I'd have to setup a server to receive the Oauth payload. This is asides the server hosting the bot

[2022-10-22 09:50] mzoyinda commented on #6
@Regedit-msc i would like to work on this please assign

[2022-10-22 09:50] mzoyinda commented on #3
@elozzy, can i implement the rest??

[2022-10-22 09:51] mzoyinda commented on #8
@Regedit-msc i'd like to work on this. please assign

[2022-10-22 11:11] uchibeke commented on #25
Yes, please. You can @mzoyinda

Let me know if you have any questions

[2022-10-22 11:12] uchibeke commented on #64
Product and crypto come last in the order

also, you’re adding a Gift card and Mobile Money Category

[2022-10-22 16:45] tobiadiks commented on #64
Noted.

On Sat, Oct 22, 2022, 12:13 PM Uchi Uchibeke ***@***.***>
wrote:

[2022-10-22 17:32] uchibeke commented on #61
Yes. Currently email, Twitter or phoneNumber is required to initiate a Payout

But it might be best to keep things simple and not require any action from the user because the Bot will be used by Discord users that don't understand the details of Chimoney

Consider:
- When a user calls the bot to send Chimoney eg `@send_chimoney send $10 to @user`. Please handle different instruction types or do it

[2022-10-22 22:28] Ayo-Awe commented on #61
@uchibeke I've setup the command. It sends a payment link to the command initiator. See pull request #67

[2022-10-23 04:41] mzoyinda commented on #25
Alright, i sure will. Thanks

[2022-10-23 18:44] uchibeke commented on #61
Follow up

https://github.com/Chimoney/chimoney-community-projects/pull/67#issuecomment-1288172563

[2022-10-23 20:35] Ayo-Awe commented on #61
Thanks, I’ll sent it up and get back to you

[2022-10-23 21:28] Ayo-Awe commented on #61
Hey @uchibeke , the frontend is currently having issues with payment links
![image](https://user-images.githubusercontent.com/82258944/197419149-35154e98-faff-44b5-9bb0-1e9d92ef9de4.png)

[2022-10-24 13:58] Aysha-py commented on #32
@uchibeke Hi, Is this issue still open to be contributed to? I will love to work on it.

[2022-10-24 14:00] uchibeke commented on #32
@adi-uchiha, @Aysha-py and @knight-95 please yes go for it

Articles from all of you are welcome. Please try to send them in before end of hacktoberfest

[2022-10-24 14:02] uchibeke commented on #61
At what point do you get this error?

This doesn’t seem to happen with other links. Could you initiate a Chimoney with email or twitter included and try again? Also investigating

[2022-10-24 14:36] Aysha-py commented on #32
@uchibeke Sure, thanks

[2022-10-24 15:33] Aysha-py commented on #32
@uchibeke, is there a way I could interact with the chimoney platform to initiate payment and receive it in order to get some screenshots for my article?
I read an article on hashnode on how you can create an organization on the chimoney dashboard after signing up, then join the discord server so that you can be approved. However, after clicking the discord link I get feedback saying the invite ma

[2022-10-24 15:56] uchibeke commented on #61
Could you send the Payment link, please? @Ayo-Awe

[2022-10-24 16:06] Ayo-Awe commented on #61
here it is https://dash.chimoney.io/pay?issueID=f7d68f1f-3637-47a7-8db5-d69091986b27_3_1666622958343

[2022-10-24 16:16] Ayo-Awe commented on #61
The moment I try to login, I get an error

[2022-10-24 19:32] olybeke commented on #18
hello @uchibeke I also want to be assigned to this. can multiple people work on this?

[2022-10-24 19:33] uchibeke commented on #18
Done @Khadeeejah  and @olybeke

[2022-10-24 20:18] Khadeeejah commented on #18
I already made a pr for this @uchibeke  on it's repo

[2022-10-25 00:59] Elozzy commented on #3
yeah Sure, you can @mzoyinda. Just Create an issue per implementation.

[2022-10-25 06:35] mzoyinda commented on #3
yaaayyyhhh.. Thanks!

[2022-10-25 19:30] #11 closed

[2022-10-25 19:43] uchibeke commented on #44
@exitflynn any update on this? Do you have any questions I can help with?

[2022-10-26 08:33] innocent-rajan commented on #29
Hi, is this done? If not then I want to work on this.

[2022-10-26 09:28] Conradgabe commented on #31
@uchibeke Good morning, I'm done with the article, I'll put the link in a readme file inside a folder under submissions.

[2022-10-26 21:50] uchibeke commented on #29
Assigned to you @innocent-rajan

[2022-10-27 08:55] King-Lanre commented on #33
@uchibeke I would like to work on this issue. Kindly assign me.

[2022-10-27 09:39] Habeeb-A commented on #33
You can carry on with it.

On Thu, Oct 27, 2022, 9:55 AM King-Lanre ***@***.***> wrote:

[2022-10-27 19:02] GloriaOkeke commented on #32
Hi @uchibeke can I also work on this please?

[2022-10-28 12:51] Opedepodepes-Olugbemi commented on #12
Can i work on this also, i would like to be assigned to this

[2022-10-28 12:56] uchibeke commented on #12
Yes, @Opedepodepes-Olugbemi . Ping me if anything comes up

[2022-10-28 12:56] uchibeke commented on #12
Hey @Macasore update on this

[2022-10-28 15:56] Macasore commented on #12
Hey @uchibeke I'm still working on this, just been having some issues with my python script,

[2022-10-29 20:58] larryease commented on #17
@uchibeke, all the links associated with resources have a 404 error. How do we get the documentation for the blog?

[2022-10-29 21:01] uchibeke commented on #17
@larryease please try again

[2022-10-29 21:12] larryease commented on #18
hello @uchibeke, I also want to be assigned to this.

[2022-10-29 23:12] larryease commented on #17
Accessible now. Thanks @uchibeke

[2022-10-30 10:43] thelimeskies commented on #45
@uchibeke I'm almost done with the bot added a random giveaway feature for the channel it's called in

it could currently be tested in my workspace would drop the link if that's ok with you

[2022-10-30 10:50] uchibeke commented on #45
Can it be installed as an app in other workspaces? @thelimeskies

[2022-10-30 10:57] thelimeskies commented on #45
Not at the moment
Has an entire process I need to do for it to become distributed

Will start the process once I'm done testing

[2022-10-30 12:15] uchibeke commented on #64
@tobiadiks how's this going

[2022-10-30 12:16] uchibeke commented on #61
@Ayo-Awe could you confirm if this is still the case? So we can finish this task

[2022-10-30 12:17] uchibeke commented on #52
@ajibadeabd  how's this going

[2022-10-30 12:17] uchibeke commented on #45
Cool. Let me know

[2022-10-30 12:21] uchibeke commented on #42
@Stephen-Odumirin approved and funded

[2022-10-30 12:52] Ayo-Awe commented on #61
@uchibeke this is still the case, I only get two events
- payout.chimoney.initiated:  this happens when the transaction is initiated
- payout.wallet.completed : this happens when the transaction is redeemed

[2022-10-30 15:44] Ayo-Awe commented on #61
@uchibeke I've found a way around it though at least for the meantime. I can just initiate the payment from the bot then login to my dashboard and complete the payment there without using the link.

[2022-10-30 15:49] uchibeke commented on #61
@Ayo-Awe this won’t work for external users. You see it in your dashboard because your app initiated it.

could you list out all the webhook you events you’d like to receive, please?

[2022-10-30 15:52] Ayo-Awe commented on #61
@uchibeke This is the only event I'd like to receive
- chimoney.payment.completed

[2022-10-30 15:52] Ayo-Awe commented on #61
ok I get

[2022-10-30 15:54] uchibeke commented on #61
Ok. Give me the next 3 hours to test this

so this is the event that you get after you make a payment with the link, correct? AKA after status changes from unpaid to paid?

[2022-10-30 15:55] Ayo-Awe commented on #61
Yea

Exactly, no problem

[2022-10-30 16:09] tobiadiks commented on #64
Going good, should push it before tomorrow evening.

On Sun, Oct 30, 2022, 1:15 PM Uchi Uchibeke ***@***.***>
wrote:

[2022-10-31 01:06] uchibeke commented on #61
@Ayo-Awe added `chimoney.payment.completed`. Please let me know if you get it after payment

Also, could you confirm if you're able to go from
- Link on Discord
- Sign in
- Pay
- Get Webhook message

[2022-10-31 09:40] Ayo-Awe commented on #61
@uchibeke Great, I'm getting the webhook hook message after payment.

As for the link, the flow breaks when I try to sign.

I've setup the webhook, expect new commits soon

[2022-10-31 10:15] Khadeeejah commented on #18
Hi a pull request has been made already for this issue

[2022-10-31 15:07] #24 closed

[2022-10-31 15:09] #10 closed

[2022-10-31 15:09] #9 closed

[2022-11-01 02:04] #3 closed

[2022-11-01 02:05] #7 closed

[2022-11-01 02:08] #32 closed

[2022-11-02 12:01] larryease commented on #18
@uchibeke, There was a PR run fail on my PR for this issue. Could you shed light on the reason for this? Thank you

[2022-11-02 17:14] uchibeke opened #76 "Create a web3 Quiz app that rewards participants with Chimoney"
Use the [web3terms](https://github.com/Olanetsoft/web3terms/issues/61) to get list of terms

Create a survey app. Some ideas of tools to use
https://www.npmjs.com/package/react-quizzes
https://npm.io/package/react-quiz-component
https://github.com/amamenko/react-buzzfeed-quiz

After the survey is complete, reward the winner with Chimoney

One idea of a  flow will be
- A user/org can launch a conte

[2022-11-07 20:52] #64 closed

[2022-11-24 11:56] thelimeskies commented on #13
Good day @uchibeke,
I keep getting this error while using the generated payout link. The bot is live now(I've sorted the issue with render).
<img width="1381" alt="Screenshot 2022-11-24 at 12 50 34 PM" src="https://user-images.githubusercontent.com/45210985/203778075-b4540194-8dd6-45aa-ac28-e3da1e737061.png">

[2022-11-28 06:48] tobiadiks commented on #76
This issue has been opened for quite a while, I want to take it up, kindly assign it to me.